.logo {
    margin-top: 150px;
    margin-left: 110px;
    width: 698px;
    height: 500px;
   }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial;
}

/*---------------------------------------------*/
a {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #C3BCBC;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #6675df;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #C3BCBC;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}




label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*==================================================================
[ Text ]*/
.txt1 {
  font-family: Arial;
  font-size: 13px;
  line-height: 1.4;
  color: #C3BCBC;
}

.txt2 {
  font-family: Arial;
  font-size: 13px;
  line-height: 1.4;
  color: #C3BCBC;
}


/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*==================================================================
[ Background ]*/
.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}


.wrap-login100 {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/*==================================================================
[ login more ]*/
.login100-more {
  width: calc(100% - 500px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



/*==================================================================
[ Form ]*/

.login100-form {
  width: 500px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px 55px;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Arial;
  font-size: 60px;
  padding-bottom: 50px;
  color: #F38181;
  line-height: 1.2;
  text-align: center;
}

.login-text {
  color: #C3BCBC;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 40px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 30px;
}



.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Arial;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {

  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 90%;
  height: 45px;
  border-radius: 10px;
  background: #F38181;
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;

}

.form-button {
  padding-bottom: 30px;
}

.login100-form-btn:hover {
  background: #F8ADAD;
}

.ili {
  width: 100%;
  display: block;
  font-family: Arial;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.2;
  text-align: center;
  color: #C3BCBC;
}




